<% content_for :title, "Editing movie form" %>

<h1>Movie Collector</h1>
<div id="movie_forms">
  <h2>Editor</h2>
  <div id="movie_item">
    <%= render "form", movie_form: @movie_form %>

    <div>
      <button id="return_button">
        <%= link_to "Return", @movie_form %> 
      </button>

      <button id="homepage_button">
        <%= link_to "Homepage", movie_forms_path %>
      </button>
    </div>
  </div>
</div>
