<% content_for :title, "New movie form" %>

<h1>Movie Collector</h1>
  <div id="movie_forms">
    <h2>Movie Form</h2>
    <div id="movie_item">
      <%= render "form", movie_form: @movie_form %>
       <button id="homepage_button">
      <%= link_to "Homepage", movie_forms_path %>
    </button>
    </div>




  </div>



  
